.random-user-generator-container {
  height: 100%;
}

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  button {
    margin: 10px;
  }
}

.result-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  > * {
    flex: 1 0 200px;
  }
}
