mat-toolbar {
  a {
    text-decoration: none;
    color: white;
  }
}

mat-form-field {
  font-size: 13px;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

span {
  flex: 1 1 auto;
}
