/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.data-table {
  flex: 1;
  overflow-x: auto;

  table {
    width: 100%
  }
}

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  border: 2px solid black;
  margin: 5px;
  @media (max-width: 599px) {
    flex-direction: column;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space_around-center {
  justify-content: space-around;
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.dropdown-overlay {
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.dropdown-overlay > li {
  list-style-type: none;
  border-bottom: solid 1px #8b8b8b;
  padding: 8px 0;
}

.dropdown-overlay > li:last-child {
  border-bottom: none;
}
