html, body { height: 100%; width: 100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.data-table {
  flex: 1;
  overflow-x: auto;

  table {
    width: 100%
  }
}

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  border: 2px solid black;
  margin: 5px;
  @media (max-width: 599px) {
    flex-direction: column;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space_around-center {
  justify-content: space-around;
  align-items: center;
}

.flex-space_between-center {
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.dropdown-overlay {
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.red-btn {
  background-color: #f44336;
  color: white;
}

.green-btn {
  background-color: green;
  color: white;
}

.dropdown-overlay > li {
  list-style-type: none;
  border-bottom: solid 1px #8b8b8b;
  padding: 8px 0;
}

.dropdown-overlay > li:last-child {
  border-bottom: none;
}

@import '~@angular/material/theming';

@include mat-core();
$mat-bench-primary: (
  50 : #e4e5e7,
  100 : #bcbdc3,
  200 : #8f929c,
  300 : #626674,
  400 : #404556,
  500 : #1e2438,
  600 : #1a2032,
  700 : #161b2b,
  800 : #121624,
  900 : #0a0d17,
  A100 : #597eff,
  A200 : #2656ff,
  A400 : #0036f2,
  A700 : #0030d9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$primary: mat-palette($mat-bench-primary);

$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

