.display-time-container {
  padding: 10px;
  text-align: center;
  border: 2px solid black;
  margin: 5px;
}

.error {
  color: red;
}

.all-times {
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.all-times > li {
  list-style-type: none;
  border-bottom: solid 1px #8b8b8b;
  padding: 8px 0;
}

.all-times > li:last-child {
  border-bottom: none;
}
