<mat-sidenav-container autosize>
  <mat-sidenav #sidenav
               mode="over"
               [fixedInViewport]="true"
               [fixedTopGap]="isMobile ? mobileToolbarHeight : desktopToolbarHeight">
    <mat-nav-list *ngFor="let navItem of navList">
      <app-nav-item [navItem]="navItem" [isSidenavOpen]="sidenav.openedChange"></app-nav-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
