.lifecycle-crud-container {
  height: 100%;
}

.actions {
  button {
    margin: 10px;
  }
}

.result-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  > * {
    flex: 1 0 200px;
  }
}

.selected-dummy-item {
  text-align: center;
}
