.main-container {
  height: 100%;
  width: 100%;
}

mat-sidenav-container {
  background-color: white;
  min-height: calc(100% - 64px);
}

@media only screen and (max-width: 599px) {
  mat-sidenav-container {
    min-height: calc(100% - 56px);
  }
}

mat-toolbar {
  a {
    text-decoration: none;
    color: white;
  }
}
