<div [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <a href="/"><h1>Angular</h1></a>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item *ngFor="let item of navigation">
          <a matLine [routerLink]="item.routerLink" (click)="sidenav.close()">{{ item.title }}</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
