body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  width: 100%;
  height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  border: 2px solid black;
  margin: 5px;
}

@media (max-width: 599px) {
  .actions {
    flex-direction: column;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space_around-center {
  justify-content: space-around;
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.data-table {
  flex: 1;
  overflow-x: auto;
}

.data-table table {
  width: 100%;
}

.red-btn {
  background-color: red !important;
  color: white !important;
}

.green-btn {
  background-color: green !important;
  color: white !important;
}
